{% extends "layout.html" %}

{% block title %}
    Statistics
{% endblock %}

{% block main %}
    <h1>Statistics</h1>

    <div style="max-width: 800px; margin: 0 auto;">
        <canvas id="statisticsChart" width="800" height="400" style="display: block; box-sizing: border-box; height: 200px; width: 400px;"></canvas>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var ctx = document.getElementById("statisticsChart").getContext("2d");

            var statisticsData = {
                labels: ['Total Workouts', 'Total Reps', 'Total Sets', 'Heaviest Weight'],
                datasets: [{
                    label: 'Statistics',
                    data: [
                        {{ total_workouts }},
                        {{ total_reps }},
                        {{ total_sets }},
                        {{ heaviest_weight }}
                    ],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            };

            var statisticsChart = new Chart(ctx, {
                type: 'polarArea',
                data: statisticsData,
                options: {
                    responsive: true, // Allow the chart to resize based on the container's size
                    maintainAspectRatio: false, // Prevent the chart from maintaining a fixed aspect ratio
                    scales: {
                        r: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
